/* general */
section {
  margin-top: 20px;
  margin-bottom: 20px;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.brand-color {
  color: #2F5159;
}

.subtitle-color {
  color: #345e68;
}

.card {
  border-radius: 0%;
}

/* Header */
header {
  height: 80px;
}

.header-title-text {
  letter-spacing: 5px;
}

.header-btn {
  border-radius: 25px;

  --bs-btn-bg: #2F5159;
  --bs-btn-border-color: #2F5159;
  --bs-btn-hover-bg: #2F5159;
  --bs-btn-active-bg: #2F5159;
}

/* carousel */
#carousel-area {
  margin-top: 0;
  max-height: 600px;
}

.carousel-mock-item {
  width: 400px;
}

.carousel-mock-item img {
  height: 600px;
}

/* about */
.about-text {
  font-weight: 700;
  font-size: 40px;
}

.about-title {
  letter-spacing: 10px;
}

.caption-text {
  color: #479A8D;
  font-size: 50px;
  letter-spacing: 10px;
}

/* steps */
#steps {
  background-color: #2F5159;
  color: #fff;
  padding: 20px;
}

#steps .card-body {
  color: #fff;
}

.step-icon {
  font-size: 120px;
}

.step-title {
  letter-spacing: 5px;
}

/* menus */
.menu-card {
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 16px;
}

.purchase-btn {
  display: block;
}

/* footer */
footer {
  background-color: #2F5159;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
}
